@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.category-container {
    display: block;
    align-items: center;
    justify-content: center;
}

.category-container h1 {
    font-family: "lato", sans-serif;
    text-align: center;
    font-size: 30px;
}