@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.comment-section{
  display: flex;
  justify-content:center;

  padding-top: 20px;
}

.comment-backcard{
  background-image: linear-gradient(90deg,#093028,#237A57);
  width: 700px;

  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.message{
  outline: 1px solid white;
  border-radius: 1px;
  outline-offset: 4px;
  color: white;
}

.username{
  font-family: 'Bebas Neue', sans-serif;
  line-height: 30px;
  font-size: 30px;
  color:white;
  padding-bottom: 15px;
}
