<div class="main">
    <div class="container">
      <div class="header-container">
        <h1>Add Product</h1>
      </div>
      <form (ngSubmit)="OnSubmit()" [formGroup]="AddProductForm">
        <div class="row">
          <p class="field">
            <mat-form-field class="all">
              <mat-label>Name</mat-label>
              <input
                matInput
                placeholder="Name"
                type="text"
                formControlName="Name"
              />
            </mat-form-field>
          </p>
        </div>
        <div class="row">
          <p class="field">
            <mat-form-field class="all">
              <mat-label>Photo</mat-label>
              <input
                matInput
                placeholder="Photo"
                type="text"
                formControlName="Photo"
              />
            </mat-form-field>
          </p>
        </div>
        <div class="row">
          <p class="field">
            <mat-form-field class="all">
              <mat-label>Price</mat-label>
              <input
                matInput
                placeholder="Price"
                type="number"
                formControlName="Price"
              />
            </mat-form-field>
          </p>
        </div>
        <div class="row">
          <p class="field">
            <mat-form-field class="all">
              <mat-label>List of Ingredients</mat-label>
              <input
                matInput
                placeholder="List of Ingredients"
                type="text"
                formControlName="ListOfIngredients"
              />
            </mat-form-field>
          </p>
        </div>
        <div class="row">
          <p class="field">
            <mat-form-field class="all">
              <mat-label>Availability</mat-label>
              <input
                matInput
                type="string"
                placeholder="Availability"
                formControlName="Availability"
              />
            </mat-form-field>
          </p>
        </div>
        <div class="options">
          <button mat-raised-button type="submit" class="submit-button">
            Submit
            <mat-icon fontIcon="check" color="primary"></mat-icon>
          </button>
        </div>
      </form>
    </div>
  </div>