<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar"></div>
<img src="../../assets/images/logo.png" class="logo">
<nav>
    <ul>
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="menu">Menu</a></li>
      <li><a routerLink="orders">Orders</a></li>
      <li><a routerLink="reservations">Reservations</a></li>
      <li><a routerLink="contact">Contact</a></li>
      <li><a routerLink="reviewRestaurant">Review Restaurant</a></li>
      <li><a routerLink="login">Login</a></li>
      <li><a routerLink="register">Register</a></li>
    </ul>
  </nav>
  <nav>
    <div class="icons">
      <li><img src = "../../assets/images/facebook-icon.png" ></li>
      <li><img  src = "../../assets/images/instagram-icon.png" ></li>
    </div>
  </nav>

