<div class="navbar">
<img src="../../assets/images/logo.png" class="logo">
<nav>
    <ul>
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="menu">Menu</a></li>
      <li><a routerLink="orders">Orders</a></li>
      <li><a routerLink="reservations">Reservations</a></li>
      <li><a routerLink="contact">Contact</a></li>
      <li><a routerLink="reviewRestaurant">Review Restaurant</a></li>
      <mat-divider class = "divider"> </mat-divider>
    </ul>
    </nav>
    <app-login-register-nav></app-login-register-nav>
    <app-icons></app-icons>
  </div>

