* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    list-style: 22px;
    color: #222;
}

.product-container {
    background-color: white;
    border: 3px solid purple;
    padding: 25px;
    max-height: 300px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    position: relative;
    transition: .3s;
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.product-container img {

    border-radius: 50%;
    height: 100px;
    max-width: 110px;
    border: 3px dashed #ddd;
    padding: 3px;
    margin-right: 15px;
    transition: .3s;
}

.product-container h5 {
    border-bottom: 3px dashed #ddd;
    margin: 10px 0;
    padding-bottom: 10px;
    text-transform: capitalize;
    font-size: 24px;
}

.product-container h5:hover {
    cursor: pointer;
}

.product-container p {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.product-container span {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #ff7720;
    padding: 8px 20px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 15px 0 0 0;
}