<div id="wrapper">
  <form [formGroup]="loginUserForm" (ngSubmit)="OnSubmit()">
    <h1>Login</h1>
    <p>
      <mat-form-field appearance="outline" class="email">
        <mat-label>Username</mat-label>
        <input
          matInput
          type="text"
          placeholder="Enter Username"
          formControlName="email"
          required
        />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="password">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Enter Password"
          name="password"
          required
        />
      </mat-form-field>
    </p>
    <button type="submit">Send</button>
  </form>
</div>
<footer>
  <p class="copy">&copy; Restaurant 2023.</p>
</footer>
