@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.password-error {
  white-space: nowrap;
  display: inline;
}








/* 
form {
  margin: auto;
  margin-top: 50px;
  width: 600px;


}

h1 {
  text-align: center;
  font-size: 30px;
  font-family: "Lato", sans-serif;
}

.sections {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

label {
  font-size: 15px;
  font-family: "Lato", sans-serif;
}

label[for="role"] {
  font-size: 15px;
  font-weight: 300;
}

.role {
  margin-top: 45px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px;
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.section1 {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px;
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
  display: inline-block;
  box-sizing: border-box;
}

.section2 {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px;
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
  display: inline-block;
  box-sizing: border-box;
}

button {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 14px 80px;
  margin: 8px 20px;
  border: none;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 190px;

}

button:hover {
  opacity: 0.8;
}

.container {

  position: relative;

}


#wrapper {
  width: 80%;
  margin: auto;
  height: 100%;
  display: flex;
}

.copy {
  background-color: black;
  color: white;
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 119px;
  padding: 12px;
} */