.login-register{
    background-color: transparent;
    display: inline-flex;
    -ms-flex-direction: row;
    align-items: stretch;
    justify-content: center;
    margin-left:7vh;
    padding-top: 3vh;
  }
  .login-register li{
    list-style-type: none;
    align-items: center;
    
  }
  
  button{
    background-color: transparent;
    border-color: transparent;
  }
  
  button a{
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    padding:0.em;
  
  }
  
  button a:hover{
    color: rgb(228, 170, 61);
    transition: 0.15s all;
    opacity:0.7;
  }