<div *ngIf="!userCookies.isUserAuthenticated()" class="login-register">
  <div class="auth-buttons">
    <button mat-button>
      <a routerLink="login">Login</a>
    </button>
    <i></i>
    <button mat-button>
      <a routerLink="register">Register</a>
    </button>
    <i></i>
  </div>
</div>
<div *ngIf="userCookies.isUserAuthenticated()" class="login-register">
  <div class="user-info">
    <span class="greeting">Salut, {{user?.firstName + " " + user?.lastName}}</span>
    <button mat-button (click)="logout() " >Logout</button>
  </div>
</div>
