@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.forms {
  padding: 0 20px;
  margin: 0 30px;
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* margin-left: 150px; */
}

.forms {
  padding: 0 20px;
  margin: 0 30px;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-family: "Lato", sans-serif;
  margin-bottom: 50px;
}

iframe {
  width: 1000px;
  height: 900px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  font-size: 15px;
  font-family: "Lato", sans-serif;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  display: inline-block;
  border: 1px solid rgb(204, 204, 204);
  box-sizing: border-box;
}

button {
  background-color: black;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 14px 80px;
  border: 4px solid rgb(228, 170, 61);
  border-radius: 100px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

button:hover {
  background-color: rgb(228, 170, 61);
}
