<div class="main">
    <div class="container">
      <div class="header-container">
        <h1>Edit ingredient</h1>
      </div>
      <div class="image-header"></div>
      <form (ngSubmit)="OnSubmit()" [formGroup]="addIngredientForm">
        <div class="row">
          <p class="field">
            <mat-form-field class="all">
              <mat-label>Name</mat-label>
              <input
                matInput
                placeholder="Name"
                type="text"
                formControlName="name"
              />
            </mat-form-field>
          </p>
        </div>
        <div class="row">
          <p class="field">
            <mat-form-field class="all">
              <mat-label>Stock</mat-label>
              <input
                matInput
                placeholder="stock"
                type="text"
                formControlName="stoc"
              />
            </mat-form-field>
          </p>
        </div>
        <div class="row">
          <p class="field">
            <mat-form-field class="all">
              <mat-label>Is Alergen</mat-label>
              <input
                matInput
                placeholder="Is Alergen"
                type="string"
                formControlName="isAlergen"
              />
            </mat-form-field>
          </p>
        </div>

        <div class="options">
          <button mat-raised-button class="submit-button" (click)="deleteingredient()">
            <mat-icon fontIcon="delete"></mat-icon>
            Delete
          </button>
          <button
            mat-raised-button
            type="submit"
            class="submit-button"
            (click)="redirectToMainPage()"
          >
            Submit
            <mat-icon fontIcon="check" color="primary"></mat-icon>
          </button>
        </div>
      </form>
    </div>
  </div>
  