.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
h1 {
  font-size: 3em;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-container {
  text-align: center;
  align-items: center;
  padding: 2vh 21.5vw;
  margin-top: 2vh;
}
.container {
  display: flex;
  flex-direction: column;
}
.field {
  padding: 0 1vw;
  display: flex;
}
.row {
  display: flex;
  flex-direction: row;
}
textarea {
  resize: none;
}
.fullName,
.comments,
.numberOfGuests {
  width: 42vw;
}
.date,
.time-start,
.time-end {
  width: 20vw;
}
.comments {
  height: 20vh;
}
.date {
  align-self: flex-end;
}
.desc {
  padding: 1vh;
  text-align: center;
  width: 40vw;
}
.submit-button {
  margin: 1vh 1vw;
  margin-top: 13vh;
  width: 10vw;
  align-self: flex-end;
}
.image-header {
  background-image: url("/assets/images/reservation-header.png");
  align-self: center;
  justify-self: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 42vw;
  height: 6vh;
  margin-bottom: 7vh;
}
