<div class="main">
  <div class="container">
    <div class="header-container">
      <h1>Reservations</h1>
    </div>
    <div class="image-header"></div>
    <form (ngSubmit)="OnSubmit()" [formGroup]="addReservationForm">
      <div class="row">
        <p class="field">
          <mat-form-field appearance="outline" class="fullName" color="primary">
            <mat-label>Utilizator</mat-label>
            <input
              matInput
              placeholder="Utilizator"
              type="text"
              formControlName="user"
            />
          </mat-form-field>
        </p>
      </div>
      <div class="row">
        <p class="field">
          <mat-form-field appearance="outline" class="numberOfGuests">
            <mat-label>Numar persoane</mat-label>
            <input
              matInput
              placeholder="# Of Guests"
              type="number"
              formControlName="numberOfPersons"
              ngModel="name"
            />
          </mat-form-field>
        </p>
      </div>
      <div class="row">
        <p class="field">
          <mat-form-field appearance="outline" class="time-start">
            <mat-label>Inceputul rezervarii</mat-label>
            <input
              matInput
              placeholder="Start time"
              type="datetime-local"
              formControlName="reservationStart"
              class="input-time-start"
              (ngModelChange)="takeDate($event)"
            />
          </mat-form-field>
        </p>
        <p class="field">
          <mat-form-field appearance="outline" class="time-end">
            <mat-label>Sfarsitul rezervarii</mat-label>
            <input
              matInput
              placeholder="End time"
              type="datetime-local"
              formControlName="reservationEnd"
              class="input-time-end"
              [(ngModel)]="collect_date"
            />
          </mat-form-field>
        </p>
      </div>
      <div class="row">
        <p class="field">
          <mat-form-field appearance="outline" class="comments">
            <mat-label>Comentarii(optional)</mat-label>
            <textarea
              matInput
              placeholder="Comentarii(optional)"
              type="text"
              formControlName="userNotes"
            ></textarea>
          </mat-form-field>
        </p>
      </div>
      <p class="desc">
        <i>
          Vom rezerva o masa pentru tine! Suna la 212-213-3333 osau foloseste
          formularul de mai sus pentru a crea o rezervare, si noi vom confirma
          daca avem locuri disponibile.</i
        >
      </p>
      <button
        mat-raised-button
        type="submit"
        class="submit-button"
        [disabled]="!addReservationForm.valid"
      >
        Send Request
      </button>
    </form>
  </div>
</div>
