<div class="main">
    <div class="container">
      <div class="header-container">
        <h1>Edit user</h1>
      </div>
      <form (ngSubmit)="OnSubmit()" [formGroup]="addProductForm">
        <div class="row">
          <p class="field">
            <mat-form-field class="all">
              <mat-label>Name</mat-label>
              <input
                matInput
                placeholder="name"
                type="text"
                formControlName="name"
              />
            </mat-form-field>
          </p>
        </div>
        <div class="row">
          <p class="field">
            <mat-form-field class="all">
              <mat-label>ingredientsList</mat-label>
              <input
                matInput
                placeholder="ingredientsList"
                type="text"
                formControlName="ingredientsList"
              />
            </mat-form-field>
          </p>
        </div>
        <div class="row">
          <p class="field">
            <mat-form-field class="all">
              <mat-label>photoLink</mat-label>
              <input
                matInput
                placeholder="photo"
                type="string"
                formControlName="photo"
              />
            </mat-form-field>
          </p>
        </div>
        <div class="row">
          <p class="field">
            <mat-form-field class="all">
              <mat-label>Price in Ron</mat-label>
              <input
                matInput
                placeholder="price"
                type="currency"
                formControlName="price"
              />
            </mat-form-field>
          </p>
        </div>
        <div>
            <label>Is Available?</label>
            <select formControlName="isAvailable" id="isAvailable">
              <option [value]="true">Yes</option>
              <option [value]="false">No</option>
            </select>
            <div *ngIf="addProductForm.get('isAvailable')?.invalid && addProductForm.get('isAvailable')?.touched">
              <span class="error-message">Please select availability.</span>
            </div>
          </div>
        <div class="options">
          <button mat-raised-button class="submit-button" (click)="deleteProduct()">
            <mat-icon fontIcon="delete"></mat-icon>
            Delete
          </button>
          <button
            mat-raised-button
            type="submit"
            class="submit-button"
            (click)="redirectToMainPage()"
          >
            Submit
            <mat-icon fontIcon="check" color="primary"></mat-icon>
          </button>
        </div>
      </form>
    </div>
  </div>