body::-webkit-scrollbar {
    display: none;
}

.content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: url('/assets/images/restaurantbg.png');
    background-size: cover;
    display: grid;
    grid-template-areas: "theNav theContent";
    position: fixed;
}

.row {
    display: flex;
    margin: 0px auto;
}

.column-nav {
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 0px;
    background-color: rgba(185, 110, 6, 0.9);
    overflow: hidden;
}


.column-content {
    margin-top: 0px auto;
    background-color: white;
    width: 110vh;
    max-height: 100vh;
    overflow-y: scroll;
}

.content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-image: url("/assets/images/restaurantbg.png");
  background-size: cover;
  display: grid;
  grid-template-areas: "theNav theContent";
  position: fixed;
}

.row {
  display: flex;
  margin: 0px auto;
}

.column-nav {
  margin-left: 100px;
  margin-right: 50px;
  margin-bottom: 0px;
  background-color: rgba(185, 110, 6, 0.9);
  overflow: hidden;
}

.column-content {
  margin-top: 0px auto;
  background-color: white;
  width: 110vh;
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x:scroll;
}

