.main-container {
    width: 100%;
    min-height: 100vh;
    border: 0;
    display: inline;
}

.main-container::-webkit-scrollbar {
    display: none;
}

.main-container h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding-bottom: 30px;
    font-size: 40px;
    border-bottom: 3px solid #aaa;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 40px;
}