@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.review-form-card{
  background-image: linear-gradient(45deg,#093028,#237A57);
  width: 800px;
}

.review-helper-text{
  padding-top: 20px;
  padding-bottom: 20px;

  padding-left: 50px;
  padding-right: 50px;

  font-size: 40px;
  font-weight: 500;
  font-family: 'Bebas Neue', sans-serif;

  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: 100%;

  /* help text gradient */
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  /*  ---   */

  line-height: 40px;
  height: fit-content;

  >p{
    font-size: 30px;
  }
}

/* Specific pentru Firefox */
.review-helper-text > p {
  font-size: 30px;
}

.reviewForm{

  padding-left: 50px;
  padding-right: 50px;

  .review-sumbit-button{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .review-form-field{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}

/* Firefox nu accepta nested elements */
.review-sumbit-button{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.review-form-field{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
/* Aici se termina impelementarile pentru Firefox */
