.review-page{
  max-height: 100vh;
  overflow-x: hidden;
  background-image: linear-gradient(#202020,#000000);
  height: 100%;
}

.review-page::-webkit-scrollbar {
  display: none;
}

.add-review-component{
  padding-top: 20px;
  display: flex; justify-content:center; align-items:center;
}
