.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-container {
  background-color: white;
  text-align: center;
  padding: 2vh 5vw;
}
.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 40vw;
}
h1 {
  font-size: 3em;
}
.field {
  padding: 0 1vw;
  display: flex;
}
.row {
  display: flex;
  flex-direction: row;
}
.all {
  width: 32vw;
}
.date {
  align-self: flex-end;
}
/* .row:first-child {
  padding-top: 5vh;
  text-align: center;
} */
.submit-button {
  margin: 1vh 1vw;
  width: 10vw;
  align-self: flex-end;
}
.options {
  display: flex;
  justify-content: space-between;
  width: 34vw;
}
.image-header {
  background-image: url("/assets/images/reservation-header.png");
  align-self: center;
  justify-self: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30vw;
  height: 6vh;
  margin-bottom: 4vh;
}
